<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cxy.mybatis.dao.UserMapper">

    <cache/>
    <!-- cn.com.cxy.mybatis.dao.UserMapper.mapper_resultMap[detailUserResultMap] -->
    <resultMap type="cn.com.cxy.mybatis.domain.User" id="detailUserResultMap">
        <constructor>
            <idArg column="user_id" javaType="Long"/>
            <arg column="user_name" javaType="String"/>
        </constructor>

        <result property="password" column="user_pwd"/>
        <result property="type" column="user_type" javaType="cn.com.cxy.mybatis.domain.UserType" />
        <result property="svcnum" column="svc_num" />

        <!-- cn.com.cxy.mybatis.dao.UserMapper.mapper_resultMap[detailUserResultMap]_association[cust] -->
        <association property="cust" javaType="cn.com.cxy.mybatis.domain.Cust" >
            <id property="id" column="cust_id"/>
            <result property="custname" column="cust_name"/>
            <result property="certNo" column="cert_no"/>
        </association>

        <!-- cn.com.cxy.mybatis.dao.UserMapper.mapper_resultMap[detailUserResultMap]_collection[accts] -->
        <collection property="accts" ofType="cn.com.cxy.mybatis.domain.Acct">
            <id property="id" column="acct_id" />
            <result property="payName" column="pay_name"/>
            <result property="bankNo" column="bank_no"/>
        </collection>
    </resultMap>

    <!-- id属性也可以使用变量 -->
    <sql id="queryField">user_id,user_name,${userType},cust_id</sql>

    <select id="selectUserDetail" resultMap="detailUserResultMap">
        select user_id,user_name,user_type,cust_id
          from tf_f_user a
          where a.user_id=#{ userId, jdbcType= VARCHAR }
          and user_name= '${userName}'
          <if test="userType != null">
            and type = #{userType, jdbcType=TINYINT}
          </if>
    </select>

    <select id="selectUserDetailInclude"  resultMap="detailUserResultMap">
        select <include refid="queryField"/> /* include中可以使用property标签 */
        from tf_f_user a
        where a.user_id=#{ userId, jdbcType= VARCHAR }
          and user_name= ${userName}
    </select>

    <insert id="saveUserSelective" useGeneratedKeys="true" keyProperty="id">
    <!--<insert id="saveUserSelective">-->
        <!--<selectKey keyProperty="id" resultType="int" order="BEFORE">
            select CAST(RANDOM()*1000000 as INTEGER) a from SYSIBM.SYSDUMMY1
        </selectKey>-->
        insert into tf_f_user(user_name,user_type,cust_id) values (
          #{id, jdbcType=BIGINT},
          #{type, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler, jdbcType=TINYINT},
          #{cust.id, jdbcType=BIGINT})
    </insert>
</mapper>
